body {
    height: 100%;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

#graphiql {
    height: 100vh;
}

#graphiql .graphiql-container .topBar {
    background: none;
    height: 70px;
    box-sizing: border-box;
}

#graphiql .graphiql-container .docExplorerShow {
    background: none;
}

#graphiql .graphiql-container .title span {
    padding-left: 10px;
}

#graphiql .graphiql-container .title {
    color: #85cdd4;
    display: flex;
    align-items: center;
}

#graphiql .graphiql-container .title:before {
    content: "";
    width: 185px;
    height: 50px;
    background: url("./logo-header.svg") no-repeat;
    vertical-align: middle;
    border-right: 1px solid white;
}

#graphiql .graphiql-container .doc-explorer-title-bar, #graphiql .graphiql-container .history-title-bar {
    background: #3CAAB5;
    height: 69px;
    display: flex;
    align-items: center;
    padding: 0;
}

#graphiql .graphiql-container .docExplorerHide {
    color: white;
    margin: 0;
}

#graphiql .graphiql-container .doc-explorer-title, #graphiql .graphiql-container .history-title {
    text-transform: uppercase;
    color: white;
}

#graphiql .graphiql-container .topBarWrap {
    background-color: #288690;
}

#graphiql .graphiql-container .history-contents, #graphiql .graphiql-container .doc-explorer-contents {
    top: 69px;
    box-sizing: border-box;
}

#graphiql .graphiql-container .execute-button-wrap {
    flex: 1;
}

#graphiql .graphiql-container .execute-button {
    background: white;
    box-shadow: none;
    border: 1px solid #85cdd4;
}

#graphiql .graphiql-container .docExplorerShow {
    color: white;
    text-transform: uppercase;
}

#graphiql .graphiql-container .docExplorerShow:before {
    border-left: 2px solid #85cdd4;
    border-top: 2px solid #85cdd4;
}

#graphiql .graphiql-container .field-name, #graphiql .cm-property {
    color: #28858f;
}

#graphiql .graphiql-container .doc-explorer-back {
    color: #294e52;
}

#graphiql .graphiql-container .doc-explorer-back:before {
    border-left: 2px solid #294e52;
    border-top: 2px solid #294e52;
}

#graphiql .graphiql-container .toolbar-button {
    padding: 10px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #85cdd5;
    background: white;
}

#graphiql .graphiql-container .execute-options>li.selected,
#graphiql .graphiql-container .toolbar-menu-items>li.hover,
#graphiql.graphiql-container .toolbar-menu-items>li:active,
#graphiql .graphiql-container .toolbar-menu-items>li:hover,
#graphiql.graphiql-container .toolbar-select-options>li.hover,
#graphiql .graphiql-container .toolbar-select-options>li:active,
#graphiql .graphiql-container .toolbar-select-options>li:hover,
#graphiql .graphiql-container .history-contents>p:hover,
#graphiql .graphiql-container .history-contents>p:active {
    background: #288690;
}
