<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="api_platform.state_provider.content_negotiation" class="ApiPlatform\State\Provider\ContentNegotiationProvider">
            <argument>null</argument>
            <argument type="service" id="api_platform.negotiator" />
            <argument>%api_platform.formats%</argument>
            <argument>%api_platform.error_formats%</argument>
        </service>

        <service id="api_platform.listener.request.add_format" class="ApiPlatform\Symfony\EventListener\AddFormatListener">
            <argument type="service" id="api_platform.state_provider.content_negotiation" />
            <argument type="service" id="api_platform.metadata.resource.metadata_collection_factory" />

            <tag name="kernel.event_listener" event="kernel.request" method="onKernelRequest" priority="28" />
        </service>

        <service id="api_platform.state_provider.read" class="ApiPlatform\State\Provider\ReadProvider">
            <argument type="service" id="api_platform.state_provider.locator" />
            <argument type="service" id="api_platform.serializer.context_builder" />
            <argument key="$logger" type="service" id="logger" on-invalid="null" />
        </service>

        <!-- kernel.request priority must be < 8 to be executed after the Firewall -->
        <service id="api_platform.listener.request.read" class="ApiPlatform\Symfony\EventListener\ReadListener">
            <argument type="service" id="api_platform.state_provider.read" />
            <argument type="service" id="api_platform.metadata.resource.metadata_collection_factory" />
            <argument type="service" id="api_platform.uri_variables.converter" />

            <tag name="kernel.event_listener" event="kernel.request" method="onKernelRequest" priority="4" />
        </service>

        <service id="api_platform.state_provider.deserialize" class="ApiPlatform\State\Provider\DeserializeProvider">
            <argument>null</argument>
            <argument type="service" id="api_platform.serializer" />
            <argument type="service" id="api_platform.serializer.context_builder" />
            <argument type="service" id="translator" on-invalid="null" />
        </service>

        <service id="api_platform.listener.request.deserialize" class="ApiPlatform\Symfony\EventListener\DeserializeListener">
            <argument type="service" id="api_platform.state_provider.deserialize" />
            <argument type="service" id="api_platform.metadata.resource.metadata_collection_factory" />

            <tag name="kernel.event_listener" event="kernel.request" method="onKernelRequest" priority="2" />
        </service>
        <service id="api_platform.state_processor.serialize" class="ApiPlatform\State\Processor\SerializeProcessor">
            <argument>null</argument>
            <argument type="service" id="api_platform.serializer" />
            <argument type="service" id="api_platform.serializer.context_builder" />
        </service>

        <service id="api_platform.state_processor.write" class="ApiPlatform\State\Processor\WriteProcessor">
            <argument>null</argument>
            <argument type="service" id="api_platform.state_processor.locator" />
        </service>

        <service id="api_platform.state_processor.respond" class="ApiPlatform\State\Processor\RespondProcessor">
            <argument type="service" id="api_platform.iri_converter" />
            <argument type="service" id="api_platform.resource_class_resolver" />
            <argument type="service" id="api_platform.metadata.operation.metadata_factory" />
        </service>

        <service id="api_platform.state_processor.add_link_header" class="ApiPlatform\State\Processor\AddLinkHeaderProcessor" decorates="api_platform.state_processor.respond">
            <argument type="service" id="api_platform.state_processor.add_link_header.inner" />
        </service>

        <service id="api_platform.state_processor.linked_data_platform" class="ApiPlatform\State\Processor\LinkedDataPlatformProcessor" decorates="api_platform.state_processor.respond">
            <argument type="service"  id="api_platform.state_processor.linked_data_platform.inner" />
            <argument type="service" id="api_platform.resource_class_resolver" />
            <argument type="service" id="api_platform.metadata.resource.metadata_collection_factory" />
        </service>

        <service id="api_platform.listener.view.write" class="ApiPlatform\Symfony\EventListener\WriteListener">
            <argument type="service" id="api_platform.state_processor.write" />
            <argument type="service" id="api_platform.metadata.resource.metadata_collection_factory" />

            <tag name="kernel.event_listener" event="kernel.view" method="onKernelView" priority="32" />
        </service>

        <service id="api_platform.listener.view.serialize" class="ApiPlatform\Symfony\EventListener\SerializeListener">
            <argument type="service" id="api_platform.state_processor.serialize" />
            <argument type="service" id="api_platform.metadata.resource.metadata_collection_factory" />

            <tag name="kernel.event_listener" event="kernel.view" method="onKernelView" priority="16" />
        </service>

        <service id="api_platform.listener.view.respond" class="ApiPlatform\Symfony\EventListener\RespondListener">
            <argument type="service" id="api_platform.state_processor.respond" />
            <argument type="service" id="api_platform.metadata.resource.metadata_collection_factory" />

            <tag name="kernel.event_listener" event="kernel.view" method="onKernelView" priority="8" />
        </service>

        <service id="api_platform.error_listener" class="ApiPlatform\Symfony\EventListener\ErrorListener">
            <argument key="$controller">api_platform.action.placeholder</argument>
            <argument key="$logger" type="service" id="logger" on-invalid="null" />
            <argument key="$debug">%kernel.debug%</argument>
            <argument key="$exceptionsMapping" type="collection"></argument>
            <argument key="$resourceMetadataCollectionFactory" type="service" id="api_platform.metadata.resource.metadata_collection_factory" />
            <argument key="$errorFormats">%api_platform.error_formats%</argument>
            <argument key="$exceptionToStatus">%api_platform.exception_to_status%</argument>
            <argument key="$identifiersExtractor">null</argument>
            <argument key="$resourceClassResolver" type="service" id="api_platform.resource_class_resolver"/>
            <argument key="$negotiator" type="service" id="api_platform.negotiator"/>
        </service>

        <service id="api_platform.state_provider.parameter" class="ApiPlatform\State\Provider\ParameterProvider" decorates="api_platform.state_provider.read" decoration-priority="100">
            <argument type="service" id="api_platform.state_provider.parameter.inner" />
            <argument type="tagged_locator" tag="api_platform.parameter_provider" index-by="key" />
        </service>

        <service id="api_platform.state_processor.documentation" alias="api_platform.state_processor.respond" />

        <service id="api_platform.state_processor.documentation.serialize" class="ApiPlatform\State\Processor\SerializeProcessor" decorates="api_platform.state_processor.documentation" decoration-priority="200">
            <argument type="service" id="api_platform.state_processor.documentation.serialize.inner" />
            <argument type="service" id="api_platform.serializer" />
            <argument type="service" id="api_platform.serializer.context_builder" />
        </service>

        <service id="api_platform.state_processor.documentation.write" class="ApiPlatform\State\Processor\WriteProcessor" decorates="api_platform.state_processor.documentation" decoration-priority="100">
            <argument type="service" id="api_platform.state_processor.documentation.write.inner" />
            <argument type="service" id="api_platform.state_processor.locator" />
        </service>

        <service id="api_platform.state_provider.documentation" alias="api_platform.state_provider.locator" />

        <service id="api_platform.state_provider.documentation.content_negotiation" class="ApiPlatform\State\Provider\ContentNegotiationProvider" decorates="api_platform.state_provider.documentation" decoration-priority="100">
            <argument type="service" id="api_platform.state_provider.documentation.content_negotiation.inner" />
            <argument type="service" id="api_platform.negotiator" />
            <argument>%api_platform.formats%</argument>
            <argument>%api_platform.error_formats%</argument>
        </service>

        <service id="api_platform.state_provider.documentation.read" class="ApiPlatform\State\Provider\ReadProvider" decorates="api_platform.state_provider.documentation" decoration-priority="500">
            <argument type="service" id="api_platform.state_provider.documentation.read.inner" />
            <argument type="service" id="api_platform.serializer.context_builder" />
        </service>

        <service id="api_platform.action.entrypoint" class="ApiPlatform\Symfony\Action\EntrypointAction" public="true">
            <argument type="service" id="api_platform.metadata.resource.name_collection_factory" />
            <argument type="service" id="api_platform.state_provider.documentation" />
            <argument type="service" id="api_platform.state_processor.documentation" />
            <argument>%api_platform.docs_formats%</argument>
        </service>

        <service id="api_platform.action.documentation" class="ApiPlatform\Symfony\Action\DocumentationAction" public="true">
            <argument type="service" id="api_platform.metadata.resource.name_collection_factory" />
            <argument>%api_platform.title%</argument>
            <argument>%api_platform.description%</argument>
            <argument>%api_platform.version%</argument>
            <argument type="service" id="api_platform.openapi.factory" on-invalid="null" />
            <argument type="service" id="api_platform.state_provider.documentation" />
            <argument type="service" id="api_platform.state_processor.documentation" />
            <argument type="service" id="api_platform.negotiator" on-invalid="null" />
            <argument>%api_platform.docs_formats%</argument>
        </service>

        <service id="api_platform.action.placeholder" class="ApiPlatform\Symfony\Action\PlaceholderAction" public="true" />
        <service id="ApiPlatform\Symfony\Action\PlaceholderAction" alias="api_platform.action.placeholder" public="true" />
        <service id="api_platform.action.get_collection" alias="api_platform.action.placeholder" public="true" />
        <service id="api_platform.action.post_collection" alias="api_platform.action.placeholder" public="true" />
        <service id="api_platform.action.get_item" alias="api_platform.action.placeholder" public="true" />
        <service id="api_platform.action.patch_item" alias="api_platform.action.placeholder" public="true" />
        <service id="api_platform.action.put_item" alias="api_platform.action.placeholder" public="true" />
        <service id="api_platform.action.delete_item" alias="api_platform.action.placeholder" public="true" />
    </services>
</container>
