*.log
/.php-cs-fixer.php
/.php-cs-fixer.cache
.phpunit.result.cache
/.phpunit.cache/
/build/
composer.lock
/composer.phar
/phpstan.neon
/phpunit.xml
/swagger.json
/swagger.yaml
/tests/Fixtures/app/var/
/tests/Fixtures/app/public/bundles/
/tests/Metadata/Extractor/Adapter/*.xml
/tests/Metadata/Extractor/Adapter/*.yaml
/vendor/
/Dockerfile

