language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

matrix:
    fast_finish: true
    include:
        - php: '7.0'
        - php: '7.0'
          env: SYMFONY_VERSION=3.0.*
        - php: hhvm

    allow_failures:
        - env: SYMFONY_VERSION=3.0.*
        - php: hhvm

before_install:
    - if [ "$TRAVIS_PHP_VERSION" != "hhvm" ]; then phpenv config-rm xdebug.ini; fi;
    - phpunit --self-update
    - if [ "$SYMFONY_VERSION" != "" ]; then composer require "symfony/symfony:${SYMFONY_VERSION}" --no-update; fi;

install:
    - composer update --no-interaction --prefer-dist

script:
    - vendor/bin/phpunit
    - vendor/bin/behat
