language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

php:
    - 5.5
    - 5.6
    - 7.0
    - hhvm

matrix:
    fast_finish: true
    include:
        - php: 7.0
          env: SYMFONY_VERSION=2.7.*
        - php: 7.0
          env: SYMFONY_VERSION=2.8.*
        - php: 7.0
          env: SYMFONY_VERSION=3.0.*
        - php: 7.0

    allow_failures:
        - env: SYMFONY_VERSION=3.0.*

before_install:
    - composer self-update
    - if [ "$SYMFONY_VERSION" != "" ]; then
          composer require "symfony/symfony:${SYMFONY_VERSION}" --no-update;
      fi;

install:
    - composer update --no-interaction --prefer-dist

script:
    - vendor/bin/phpunit
    - vendor/bin/behat
