language: php

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.npm

.steps:
  - &clear-test-app-cache |
      tests/Fixtures/app/console cache:clear
  - &create-test-database |
      tests/Fixtures/app/console doctrine:database:create
  - &disable-php-memory-limit |
      echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - &disable-xdebug-php-extension |
      phpenv config-rm xdebug.ini || echo "xdebug not available"
  - &enable-mongodb-php-extension |
      echo "extension=mongodb.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/mongodb.ini
  - &install-symfony-flex |
      composer global require --prefer-dist --no-progress --no-suggest --ansi \
        symfony/flex
  - &update-project-dependencies |
      composer update --no-progress --no-suggest --ansi
  - &validate-openapi-v2-json |
      npx swagger-cli validate <(tests/Fixtures/app/console api:swagger:export)
  - &validate-openapi-v2-yaml |
      npx swagger-cli validate <(tests/Fixtures/app/console api:swagger:export --yaml)
  - &validate-openapi-v3-json |
      npx swagger-cli validate <(tests/Fixtures/app/console api:openapi:export --spec-version 3)
  - &validate-openapi-v3-yaml |
      npx swagger-cli validate <(tests/Fixtures/app/console api:openapi:export --spec-version 3 --yaml)

jobs:
  include:
    - name: '(PHP 7.1)'
      php: '7.1'
      before_install:
        - *disable-xdebug-php-extension
        - *disable-php-memory-limit
        - *install-symfony-flex
      install:
        - |
          composer remove --dev --no-progress --no-update --ansi \
            doctrine/mongodb-odm \
            doctrine/mongodb-odm-bundle \
        - *update-project-dependencies
      before_script:
        - *clear-test-app-cache
      script:
        - *validate-openapi-v2-json
        - *validate-openapi-v2-yaml
        - *validate-openapi-v3-json
        - *validate-openapi-v3-yaml

    - name: '(PHP 7.2)'
      php: '7.2'
      before_install:
        - *enable-mongodb-php-extension
        - *disable-xdebug-php-extension
        - *disable-php-memory-limit
        - *install-symfony-flex
      install:
        - *update-project-dependencies
      before_script:
        - *clear-test-app-cache
      script:
        - *validate-openapi-v2-json
        - *validate-openapi-v2-yaml
        - *validate-openapi-v3-json
        - *validate-openapi-v3-yaml

    - name: '(PHP 7.3)'
      php: '7.3'
      before_install:
        - *enable-mongodb-php-extension
        - *disable-xdebug-php-extension
        - *disable-php-memory-limit
        - *install-symfony-flex
      install:
        - *update-project-dependencies
      before_script:
        - *clear-test-app-cache
      script:
        - *validate-openapi-v2-json
        - *validate-openapi-v2-yaml
        - *validate-openapi-v3-json
        - *validate-openapi-v3-yaml

    - name: '(PHP 7.4)'
      php: '7.4'
      env: LEGACY=0
      before_install:
        - *enable-mongodb-php-extension
        - *disable-xdebug-php-extension
        - *disable-php-memory-limit
        - *install-symfony-flex
      install:
        - *update-project-dependencies
      before_script:
        - *clear-test-app-cache
      script:
        - *validate-openapi-v2-json
        - *validate-openapi-v2-yaml
        - *validate-openapi-v3-json
        - *validate-openapi-v3-yaml

    - name: '(PHP 7.3) (lowest dependencies)'
      php: '7.3'
      before_install:
        - *enable-mongodb-php-extension
        - *disable-xdebug-php-extension
        - *disable-php-memory-limit
        - *install-symfony-flex
      install:
        - composer update --no-progress --no-suggest --prefer-stable --prefer-lowest --ansi
      before_script:
        - *clear-test-app-cache
      script:
        - *validate-openapi-v2-json
        - *validate-openapi-v2-yaml
        - *validate-openapi-v3-json
        - *validate-openapi-v3-yaml

    - name: '(PHP 7.4) (lowest dependencies)'
      php: '7.4'
      env: LEGACY=0
      before_install:
        - *enable-mongodb-php-extension
        - *disable-xdebug-php-extension
        - *disable-php-memory-limit
        - *install-symfony-flex
      install:
        - composer update --no-progress --no-suggest --prefer-stable --prefer-lowest --ansi
      before_script:
        - *clear-test-app-cache
      script:
        - *validate-openapi-v2-json
        - *validate-openapi-v2-yaml
        - *validate-openapi-v3-json
        - *validate-openapi-v3-yaml

    - name: '(PHP 7.3) (PostgreSQL)'
      php: '7.3'
      env: >-
        APP_ENV=postgres
        DATABASE_URL=postgres://postgres:@localhost/api_platform_test
      addons:
        postgresql: '10'
      services:
        - postgresql
      before_install:
        - *enable-mongodb-php-extension
        - *disable-xdebug-php-extension
        - *disable-php-memory-limit
        - *install-symfony-flex
      install:
        - *update-project-dependencies
      before_script:
        - *clear-test-app-cache
        - *create-test-database
      script:
        - *validate-openapi-v2-json
        - *validate-openapi-v2-yaml
        - *validate-openapi-v3-json
        - *validate-openapi-v3-yaml

    - name: '(PHP 7.3) (MySQL)'
      php: '7.3'
      env: >-
        APP_ENV=mysql
        DATABASE_URL=mysql://travis:@localhost/api_platform_test
      services:
        - mysql
      before_install:
        - sudo systemctl stop mysql
        - sudo mv /var/lib/mysql /var/ramfs/mysql
        - sudo ln -s /var/ramfs/mysql /var/lib/mysql
        - |
          {
            echo '[mysqld]';
            echo 'innodb_flush_log_at_trx_commit=0';
          } | sudo tee /etc/mysql/conf.d/performance.cnf
        - sudo systemctl start mysql
        - *enable-mongodb-php-extension
        - *disable-xdebug-php-extension
        - *disable-php-memory-limit
        - *install-symfony-flex
      install:
        - *update-project-dependencies
      before_script:
        - *clear-test-app-cache
        - *create-test-database
      script:
        - *validate-openapi-v2-json
        - *validate-openapi-v2-yaml
        - *validate-openapi-v3-json
        - *validate-openapi-v3-yaml

    - name: '(PHP 7.3) (MongoDB)'
      php: '7.3'
      env: APP_ENV=mongodb
      services:
        - mongodb
      before_install:
        - *enable-mongodb-php-extension
        - *disable-xdebug-php-extension
        - *disable-php-memory-limit
        - *install-symfony-flex
      install:
        - *update-project-dependencies
      before_script:
        - *clear-test-app-cache
      script:
        - *validate-openapi-v2-json
        - *validate-openapi-v2-yaml
        - *validate-openapi-v3-json
        - *validate-openapi-v3-yaml

    - name: '(PHP 7.3) (Elasticsearch)'
      php: '7.3'
      env: APP_ENV=elasticsearch
      before_install:
        - sudo apt-get purge --auto-remove elasticsearch
        - wget -qO - https://artifacts.elastic.co/GPG-KEY-elasticsearch | sudo apt-key add -
        - echo 'deb https://artifacts.elastic.co/packages/6.x/apt stable main' | sudo tee -a /etc/apt/sources.list.d/elastic-6.x.list
        - sudo apt-get update
        - sudo apt-get install elasticsearch
        - sudo systemctl start elasticsearch
        - *enable-mongodb-php-extension
        - *disable-xdebug-php-extension
        - *disable-php-memory-limit
        - *install-symfony-flex
      install:
        - *update-project-dependencies
      before_script:
        - *clear-test-app-cache
      script:
        - *validate-openapi-v2-json
        - *validate-openapi-v2-yaml
        - *validate-openapi-v3-json
        - *validate-openapi-v3-yaml

  fast_finish: true
