language: php

matrix:
    include:
        - php: 5.5
        - php: 5.6
        - php: nightly
        - php: hhvm-nightly
    allow_failures:
        - php: nightly
        - php: hhvm-nightly
    fast_finish: true

env:
    global:
        - deps=no

before_script:
    - composer self-update
    - composer update

script: vendor/bin/behat
