language: php
sudo: false

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.npm

jobs:
  include:
    - php: '7.1'
    - php: '7.2'
    - php: '7.2'
      env: deps=low
    - php: '7.2'
      env: SYMFONY_DEPRECATIONS_HELPER=0
    - php: '7.2'
      services:
        - postgresql
      before_script:
        - psql -c 'create database api_platform_test;' -U postgres
      env: APP_ENV=postgres
    - php: '7.2'
      services:
        - mysql
      before_script:
        - mysql -e 'CREATE DATABASE api_platform_test;'
      env: APP_ENV=mysql
  allow_failures:
    - env: SYMFONY_DEPRECATIONS_HELPER=0
  fast_finish: true

before_install:
  - phpenv config-rm xdebug.ini || echo "xdebug not available"
  - echo "memory_limit=-1" >> ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/travis.ini
  - export PATH="$PATH:$HOME/.composer/vendor/bin"

install:
  - if [[ $deps = 'low' ]]; then
      composer update --prefer-dist --no-progress --no-suggest --prefer-stable --prefer-lowest --ansi;
    else
      composer update --prefer-dist --no-progress --no-suggest --ansi;
    fi

script:
  - tests/Fixtures/app/console cache:clear
  - vendor/bin/phpunit
  - tests/Fixtures/app/console cache:clear
  - if [[ $APP_ENV = 'postgres' ]]; then
      vendor/bin/behat --suite=postgres --format=progress;
    else
      vendor/bin/behat --suite=default --format=progress;
    fi
  - tests/Fixtures/app/console api:swagger:export > swagger.json && npx swagger-cli validate swagger.json && rm swagger.json
  - tests/Fixtures/app/console api:swagger:export --yaml > swagger.yaml && npx swagger-cli validate swagger.yaml && rm swagger.yaml
