default:
  suites:
    default:
      contexts:
        - 'CommandContext'
        - 'DoctrineContext':
            doctrine: '@doctrine'
            passwordEncoder: '@security.password_encoder'
        - 'HttpHeaderContext'
        - 'GraphqlContext'
        - 'JsonContext'
        - 'HydraContext'
        - 'SwaggerContext'
        - 'HttpCacheContext'
        - 'JsonApiContext':
            doctrine: '@doctrine'
            jsonApiSchemaFile: '%paths.base%/tests/Fixtures/JsonSchema/jsonapi.json'
        - 'JsonHalContext':
            schemaFile: '%paths.base%/tests/Fixtures/JsonHal/jsonhal.json'
        - 'MercureContext'
        - 'Behat\MinkExtension\Context\MinkContext'
        - 'Behatch\Context\RestContext'
      filters:
        tags: '~@postgres&&~@mongodb&&~@elasticsearch&&~@legacy'
  extensions:
    'Behat\Symfony2Extension':
      kernel:
        env: 'test'
        debug: 'true'
        path: 'tests/Fixtures/app/AppKernel.php'
        bootstrap: 'tests/Fixtures/app/bootstrap.php'
    'Behat\MinkExtension':
      base_url: 'http://example.com/'
      files_path: 'features/files'
      sessions:
        default:
          symfony2: ~
    'Behatch\Extension': ~

postgres:
  suites:
    default: false
    postgres: &postgres-suite
      contexts:
        - 'CommandContext'
        - 'DoctrineContext':
            doctrine: '@doctrine'
            passwordEncoder: '@security.password_encoder'
        - 'HttpHeaderContext'
        - 'GraphqlContext'
        - 'JsonContext'
        - 'HydraContext'
        - 'SwaggerContext'
        - 'HttpCacheContext'
        - 'JsonApiContext':
            doctrine: '@doctrine'
            jsonApiSchemaFile: '%paths.base%/tests/Fixtures/JsonSchema/jsonapi.json'
        - 'JsonHalContext':
            schemaFile: '%paths.base%/tests/Fixtures/JsonHal/jsonhal.json'
        - 'MercureContext'
        - 'Behat\MinkExtension\Context\MinkContext'
        - 'Behatch\Context\RestContext'
      filters:
        tags: '~@sqlite&&~@mongodb&&~@elasticsearch&&~@legacy'

mongodb:
  suites:
    default: false
    mongodb: &mongodb-suite
      contexts:
        - 'CommandContext'
        - 'DoctrineContext':
            doctrine: '@doctrine_mongodb'
            passwordEncoder: '@security.password_encoder'
        - 'HttpHeaderContext'
        - 'GraphqlContext'
        - 'JsonContext'
        - 'HydraContext'
        - 'SwaggerContext'
        - 'HttpCacheContext'
        - 'JsonApiContext':
            doctrine: '@doctrine_mongodb'
            jsonApiSchemaFile: '%paths.base%/tests/Fixtures/JsonSchema/jsonapi.json'
        - 'JsonHalContext':
            schemaFile: '%paths.base%/tests/Fixtures/JsonHal/jsonhal.json'
        - 'MercureContext'
        - 'Behat\MinkExtension\Context\MinkContext'
        - 'Behatch\Context\RestContext'
      filters:
        tags: '~@sqlite&&~@elasticsearch&&~@!mongodb&&~@legacy'

elasticsearch:
  suites:
    default: false
    elasticsearch: &elasticsearch-suite
      paths:
        - '%paths.base%/features/elasticsearch'
      contexts:
        - 'CommandContext'
        - 'ElasticsearchContext':
            client: '@test.api_platform.elasticsearch.client'
            elasticsearchMappingsPath: '%paths.base%/tests/Fixtures/Elasticsearch/Mappings/'
            elasticsearchFixturesPath: '%paths.base%/tests/Fixtures/Elasticsearch/Fixtures/'
        - 'HttpHeaderContext'
        - 'JsonContext'
        - 'Behatch\Context\RestContext'
        - 'Behat\MinkExtension\Context\MinkContext'
      filters:
        tags: '@elasticsearch&&~@legacy'

default-coverage:
  suites:
    default: &default-coverage-suite
      contexts:
        - 'CommandContext'
        - 'DoctrineContext':
            doctrine: '@doctrine'
            passwordEncoder: '@security.password_encoder'
        - 'HttpHeaderContext'
        - 'GraphqlContext'
        - 'JsonContext'
        - 'HydraContext'
        - 'SwaggerContext'
        - 'HttpCacheContext'
        - 'JsonApiContext':
            doctrine: '@doctrine'
            jsonApiSchemaFile: '%paths.base%/tests/Fixtures/JsonSchema/jsonapi.json'
        - 'JsonHalContext':
            schemaFile: '%paths.base%/tests/Fixtures/JsonHal/jsonhal.json'
        - 'MercureContext'
        - 'CoverageContext'
        - 'Behat\MinkExtension\Context\MinkContext'
        - 'Behatch\Context\RestContext'

mongodb-coverage:
  suites:
    default: false
    mongodb: &mongodb-coverage-suite
      <<: *mongodb-suite
      contexts:
        - 'CommandContext'
        - 'DoctrineContext':
            doctrine: '@doctrine_mongodb'
            passwordEncoder: '@security.password_encoder'
        - 'HttpHeaderContext'
        - 'GraphqlContext'
        - 'JsonContext'
        - 'HydraContext'
        - 'SwaggerContext'
        - 'HttpCacheContext'
        - 'JsonApiContext':
            doctrine: '@doctrine_mongodb'
            jsonApiSchemaFile: '%paths.base%/tests/Fixtures/JsonSchema/jsonapi.json'
        - 'JsonHalContext':
            schemaFile: '%paths.base%/tests/Fixtures/JsonHal/jsonhal.json'
        - 'MercureContext'
        - 'CoverageContext'
        - 'Behat\MinkExtension\Context\MinkContext'
        - 'Behatch\Context\RestContext'

elasticsearch-coverage:
  suites:
    default: false
    elasticsearch: &elasticsearch-coverage-suite
      <<: *elasticsearch-suite
      contexts:
        - 'CommandContext'
        - 'ElasticsearchContext':
            client: '@test.api_platform.elasticsearch.client'
            elasticsearchMappingsPath: '%paths.base%/tests/Fixtures/Elasticsearch/Mappings/'
            elasticsearchFixturesPath: '%paths.base%/tests/Fixtures/Elasticsearch/Fixtures/'
        - 'HttpHeaderContext'
        - 'JsonContext'
        - 'CoverageContext'
        - 'Behatch\Context\RestContext'
        - 'Behat\MinkExtension\Context\MinkContext'

default-legacy:
  suites:
    default:
      filters:
        tags: '~@postgres&&~@mongodb&&~@elasticsearch'

postgres-legacy:
  suites:
    default: false
    postgres:
      <<: *postgres-suite
      filters:
        tags: '~@sqlite&&~@mongodb&&~@elasticsearch'

mongodb-legacy:
  suites:
    default: false
    mongodb:
      <<: *mongodb-suite
      filters:
        tags: '~@sqlite&&~@elasticsearch&&~@!mongodb'

elasticsearch-legacy:
  suites:
    default: false
    elasticsearch:
      <<: *elasticsearch-suite
      filters:
        tags: '@elasticsearch'

default-legacy-coverage:
  suites:
    default:
      <<: *default-coverage-suite
      filters:
        tags: '~@postgres&&~@mongodb&&~@elasticsearch'

mongodb-legacy-coverage:
  suites:
    default: false
    mongodb:
      <<: *mongodb-coverage-suite
      filters:
        tags: '~@sqlite&&~@elasticsearch&&~@!mongodb'

elasticsearch-legacy-coverage:
  suites:
    default: false
    elasticsearch:
      <<: *elasticsearch-coverage-suite
      filters:
        tags: '@elasticsearch'
