default:
  suites:
    default:
      contexts:
        - 'ApiPlatform\Core\Tests\Behat\CommandContext'
        - 'ApiPlatform\Core\Tests\Behat\DoctrineContext'
        - 'ApiPlatform\Core\Tests\Behat\GraphqlContext'
        - 'ApiPlatform\Core\Tests\Behat\JsonContext'
        - 'ApiPlatform\Core\Tests\Behat\HydraContext'
        - 'ApiPlatform\Core\Tests\Behat\OpenApiContext'
        - 'ApiPlatform\Core\Tests\Behat\HttpCacheContext'
        - 'ApiPlatform\Core\Tests\Behat\JsonApiContext'
        - 'ApiPlatform\Core\Tests\Behat\JsonHalContext'
        - 'ApiPlatform\Core\Tests\Behat\XmlContext'
        - 'Behat\MinkExtension\Context\MinkContext'
        - 'behatch:context:rest'
      filters:
        tags: '~@postgres&&~@mongodb&&~@elasticsearch'
  extensions:
    'FriendsOfBehat\SymfonyExtension':
      bootstrap: 'tests/Fixtures/app/bootstrap.php'
      kernel:
        environment: 'test'
        debug: true
        class: AppKernel
        path: 'tests/Fixtures/app/AppKernel.php'
    'Behat\MinkExtension':
      base_url: 'http://example.com/'
      files_path: 'features/files'
      sessions:
        default:
          symfony: ~
    'Behatch\Extension': ~

postgres:
  suites:
    default: false
    postgres: &postgres-suite
      contexts:
        - 'ApiPlatform\Core\Tests\Behat\CommandContext'
        - 'ApiPlatform\Core\Tests\Behat\DoctrineContext'
        - 'ApiPlatform\Core\Tests\Behat\GraphqlContext'
        - 'ApiPlatform\Core\Tests\Behat\JsonContext'
        - 'ApiPlatform\Core\Tests\Behat\HydraContext'
        - 'ApiPlatform\Core\Tests\Behat\OpenApiContext'
        - 'ApiPlatform\Core\Tests\Behat\HttpCacheContext'
        - 'ApiPlatform\Core\Tests\Behat\JsonApiContext'
        - 'ApiPlatform\Core\Tests\Behat\JsonHalContext'
        - 'ApiPlatform\Core\Tests\Behat\XmlContext'
        - 'Behat\MinkExtension\Context\MinkContext'
        - 'behatch:context:rest'
      filters:
        tags: '~@sqlite&&~@mongodb&&~@elasticsearch'

mongodb:
  suites:
    default: false
    mongodb: &mongodb-suite
      contexts:
        - 'ApiPlatform\Core\Tests\Behat\CommandContext'
        - 'ApiPlatform\Core\Tests\Behat\DoctrineContext'
        - 'ApiPlatform\Core\Tests\Behat\GraphqlContext'
        - 'ApiPlatform\Core\Tests\Behat\JsonContext'
        - 'ApiPlatform\Core\Tests\Behat\HydraContext'
        - 'ApiPlatform\Core\Tests\Behat\OpenApiContext'
        - 'ApiPlatform\Core\Tests\Behat\HttpCacheContext'
        - 'ApiPlatform\Core\Tests\Behat\JsonApiContext'
        - 'ApiPlatform\Core\Tests\Behat\JsonHalContext'
        - 'ApiPlatform\Core\Tests\Behat\XmlContext'
        - 'Behat\MinkExtension\Context\MinkContext'
        - 'behatch:context:rest'
      filters:
        tags: '~@sqlite&&~@elasticsearch&&~@!mongodb'

elasticsearch:
  suites:
    default: false
    elasticsearch: &elasticsearch-suite
      paths:
        - '%paths.base%/features/elasticsearch'
      contexts:
        - 'ApiPlatform\Core\Tests\Behat\CommandContext'
        - 'ApiPlatform\Core\Tests\Behat\ElasticsearchContext'
        - 'ApiPlatform\Core\Tests\Behat\JsonContext'
        - 'Behat\MinkExtension\Context\MinkContext'
        - 'behatch:context:rest'
      filters:
        tags: '@elasticsearch'

default-coverage:
  suites:
    default: &default-coverage-suite
      contexts:
        - 'ApiPlatform\Core\Tests\Behat\CommandContext'
        - 'ApiPlatform\Core\Tests\Behat\DoctrineContext'
        - 'ApiPlatform\Core\Tests\Behat\GraphqlContext'
        - 'ApiPlatform\Core\Tests\Behat\JsonContext'
        - 'ApiPlatform\Core\Tests\Behat\HydraContext'
        - 'ApiPlatform\Core\Tests\Behat\OpenApiContext'
        - 'ApiPlatform\Core\Tests\Behat\HttpCacheContext'
        - 'ApiPlatform\Core\Tests\Behat\JsonApiContext'
        - 'ApiPlatform\Core\Tests\Behat\JsonHalContext'
        - 'ApiPlatform\Core\Tests\Behat\CoverageContext'
        - 'ApiPlatform\Core\Tests\Behat\XmlContext'
        - 'Behat\MinkExtension\Context\MinkContext'
        - 'behatch:context:rest'

mongodb-coverage:
  suites:
    default: false
    mongodb: &mongodb-coverage-suite
      <<: *mongodb-suite
      contexts:
        - 'ApiPlatform\Core\Tests\Behat\CommandContext'
        - 'ApiPlatform\Core\Tests\Behat\DoctrineContext'
        - 'ApiPlatform\Core\Tests\Behat\GraphqlContext'
        - 'ApiPlatform\Core\Tests\Behat\JsonContext'
        - 'ApiPlatform\Core\Tests\Behat\HydraContext'
        - 'ApiPlatform\Core\Tests\Behat\OpenApiContext'
        - 'ApiPlatform\Core\Tests\Behat\HttpCacheContext'
        - 'ApiPlatform\Core\Tests\Behat\JsonApiContext'
        - 'ApiPlatform\Core\Tests\Behat\JsonHalContext'
        - 'ApiPlatform\Core\Tests\Behat\CoverageContext'
        - 'ApiPlatform\Core\Tests\Behat\XmlContext'
        - 'Behat\MinkExtension\Context\MinkContext'
        - 'behatch:context:rest'

elasticsearch-coverage:
  suites:
    default: false
    elasticsearch: &elasticsearch-coverage-suite
      <<: *elasticsearch-suite
      contexts:
        - 'ApiPlatform\Core\Tests\Behat\CommandContext'
        - 'ApiPlatform\Core\Tests\Behat\ElasticsearchContext'
        - 'ApiPlatform\Core\Tests\Behat\JsonContext'
        - 'ApiPlatform\Core\Tests\Behat\CoverageContext'
        - 'Behat\MinkExtension\Context\MinkContext'
        - 'behatch:context:rest'

