parameters:
	level: 5
	paths:
		- src
		- tests
		- tests/Fixtures/app/console
	inferPrivatePropertyTypeFromConstructor: true
	symfony:
		containerXmlPath: tests/Fixtures/app/var/cache/test/AppKernelTestDebugContainer.xml
		constantHassers: false
	doctrine:
		objectManagerLoader: tests/Fixtures/app/object-manager.php
	bootstrapFiles:
		- vendor/bin/.phpunit/phpunit/vendor/autoload.php
		# We're aliasing classes for phpunit in this file, it needs to be added here see phpstan/#2194
		- src/Symfony/Bundle/Test/Constraint/ArraySubset.php
		- tests/Fixtures/app/AppKernel.php
	excludePaths:
		# Symfony cache
		- tests/Fixtures/app/var/cache
		# BC layer
		- src/deprecated_interfaces.php
		- tests/Fixtures/TestBundle/BrowserKit/Client.php
		# The Symfony Configuration API isn't good enough to be analysed
		- src/Symfony/Bundle/DependencyInjection/Configuration.php
		# Phpstan runs on phpunit > 9, a signature changed in this file
		- src/Symfony/Bundle/Test/Constraint/ArraySubsetLegacy.php
		# Imported code (temporary)
		- src/Symfony/Bundle/Test/BrowserKitAssertionsTrait.php
		- tests/Symfony/Bundle/Test/WebTestCaseTest.php
		- tests/Fixtures/TestBundle/Security/AbstractSecurityUser.php
		# Templates for Maker
		- src/Bridge/Symfony/Maker/Resources/skeleton
	earlyTerminatingMethodCalls:
		PHPUnit\Framework\Constraint\Constraint:
			- fail
		ApiPlatform\Metadata\Resource\ResourceMetadataCollection:
			- handleNotFound
	ignoreErrors:
		# False positives
		-
			message: '#is never read, only written.#'
			paths:
				- tests/Fixtures/TestBundle/Document/
				- tests/Fixtures/TestBundle/Entity/
				- src/OpenApi/Factory/OpenApiFactory.php
		-
			message: '#is never written, only read.#'
			paths:
				- tests/Fixtures/TestBundle/Document/
				- tests/Fixtures/TestBundle/Entity/
		- '#Access to an undefined property Prophecy\\Prophecy\\ObjectProphecy<(\\?[a-zA-Z0-9_]+)+>::\$[a-zA-Z0-9_]+#'
		# https://github.com/willdurand/Negotiation/issues/89#issuecomment-513283286
		-
			message: '#Call to an undefined method Negotiation\\AcceptHeader::getType\(\)\.#'
			path: src/Symfony/EventListener/AddFormatListener.php
		- '#Parameter \#1 \$vars of class GraphQL\\Language\\AST\\(IntValue|ObjectField|ObjectValue|BooleanValue|ListValue|StringValue)Node constructor expects array<bool\|float\|GraphQL\\Language\\AST\\Location\|GraphQL\\Language\\AST\\NameNode\|GraphQL\\Language\\AST\\NodeList\|GraphQL\\Language\\AST\\SelectionSetNode\|int\|string\|null>, array<string, .+> given\.#'
		- '#Parameter \#1 \$defaultContext of class Symfony\\Component\\Serializer\\Encoder\\Json(De|En)code constructor expects array, (int|true) given\.#'
		-
			message: '#Parameter \#1 \$objectValue of method GraphQL\\Type\\Definition\\InterfaceType::resolveType\(\) expects object, array(<string, string>)? given.#'
			path: tests/GraphQl/Type/TypeBuilderTest.php
		# https://github.com/phpstan/phpstan-symfony/issues/76
		-
			message: '#Service "test" is not registered in the container\.#'
			path: tests/GraphQl/Type/TypesContainerTest.php

		# Expected, due to optional interfaces
		- '#Method Symfony\\Component\\Serializer\\NameConverter\\NameConverterInterface::denormalize\(\) invoked with (2|3|4) parameters, 1 required\.#'
		- '#Method Symfony\\Component\\Serializer\\NameConverter\\NameConverterInterface::normalize\(\) invoked with (2|3|4) parameters, 1 required\.#'
		- '#Method Symfony\\Component\\Serializer\\Normalizer\\NormalizerInterface::supportsNormalization\(\) invoked with 3 parameters, 1-2 required\.#'

		# Expected, due to backward compatibility
		-
			message: "#Call to function method_exists\\(\\) with ApiPlatform\\\\JsonApi\\\\Serializer\\\\ItemNormalizer and 'setCircularReferenc…' will always evaluate to false\\.#"
			path: tests/JsonApi/Serializer/ItemNormalizerTest.php
		# TODO: remove in v3.0
		-
			message: "#Dead catch - JsonException is never thrown in the try block.#"
			path: src/Symfony/Bundle/Test/Response.php
		# See https://github.com/phpstan/phpstan-symfony/issues/27
		-
			message: '#^Service "[^"]+" is private.$#'
			path: src
		-
			message: '#^Property .+ is unused.$#'
			path: tests/Doctrine/Odm/PropertyInfo/Fixtures/DoctrineDummy.php
		-
			message: '#Call to an undefined method Symfony\\Component\\PropertyInfo\\Type::getCollectionValueType\(\)#'
			path: src
		-
			message: '#Call to an undefined method Symfony\\Component\\PropertyInfo\\Type::getCollectionKeyType\(\)#'
			path: src
		# Skipped tests, we do this on purpose
		-
			message: "#^Unreachable statement - code above always terminates.$#"
			path: tests
		-
			message: "#Access to an undefined static property static\\([^)]+\\)::\\$container.$#"
			path: tests
