<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    backupGlobals="false"
    bootstrap="tests/Fixtures/app/bootstrap.php"
    colors="true"
    cacheDirectory=".phpunit.cache">
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="memory_limit" value="-1"/>
    <!-- This is necessary for GitHub Actions to work properly -->
    <server name="KERNEL_DIR" value="tests/Fixtures/app/"/>
    <server name="KERNEL_CLASS" value="AppKernel"/>
    <env name="APP_ENV" value="test"/>
    <!-- to remove behat extensions in the AppKernel -->
    <env name="APP_PHPUNIT" value="true"/>
  </php>

  <testsuites>
    <testsuite name="API Platform Test Suite">
      <directory>tests</directory>
    </testsuite>
  </testsuites>

  <groups>
    <exclude>
      <group>mongodb</group>
      <group>mercure</group>
    </exclude>
  </groups>

  <source ignoreSuppressionOfDeprecations="true" ignoreIndirectDeprecations="true" baseline="phpunit.baseline.xml">
    <deprecationTrigger>
        <function>trigger_deprecation</function>
        <method>Doctrine\Deprecations\Deprecation::trigger</method>
        <method>Doctrine\Deprecations\Deprecation::delegateTriggerToBackend</method>
    </deprecationTrigger>
    <include>
      <directory>.</directory>
    </include>
    <exclude>
      <directory>features</directory>
      <directory>vendor</directory>
      <file>.php-cs-fixer.dist.php</file>
    </exclude>
  </source>
</phpunit>
