<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.3/phpunit.xsd" backupGlobals="false"
         bootstrap="tests/Fixtures/app/bootstrap.php" colors="true">
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
        <server name="SYMFONY_DEPRECATIONS_HELPER" value="max[self]=0"/>
        <server name="KERNEL_DIR" value="tests/Fixtures/app/"/>
        <server name="KERNEL_CLASS" value="AppKernel"/>
        <server name="APP_ENV" value="test"/>
    </php>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <listeners>
        <listener class="Symfony\Bridge\PhpUnit\SymfonyTestsListener"/>
    </listeners>

    <groups>
        <exclude>
            <group>mongodb</group>
        </exclude>
    </groups>

    <coverage processUncoveredFiles="true">
        <include>
            <directory>.</directory>
        </include>
        <exclude>
            <directory>features</directory>
            <directory>tests</directory>
            <directory>vendor</directory>
            <file>src/Bridge/Symfony/Bundle/DependencyInjection/ApiPlatformExtension.php</file>
        </exclude>
    </coverage>
</phpunit>
