<!DOCTYPE html>
<html>
<head>
    {% block head_metas %}
        <meta charset="UTF-8">
    {% endblock %}

    {% block title %}
        <title>{% if title %}{{ title }} - {% endif %}API Platform</title>
    {% endblock %}

    {% block importmap %}
        <script type="importmap">
        {
            "imports": {
                "react": "https://esm.sh/react@19.2.5",
                "react/": "https://esm.sh/react@19.2.5/",
                "react-dom": "https://esm.sh/react-dom@19.2.5",
                "react-dom/": "https://esm.sh/react-dom@19.2.5/",
                "graphql": "https://esm.sh/graphql@16.13.2",
                "graphiql": "https://esm.sh/graphiql@5.2.2?standalone&external=react,react-dom,@graphiql/react,graphql",
                "graphiql/": "https://esm.sh/graphiql@5.2.2/",
                "@graphiql/react": "https://esm.sh/@graphiql/react@0.37.3?standalone&external=react,react-dom,graphql,@graphiql/toolkit,@emotion/is-prop-valid",
                "@graphiql/toolkit": "https://esm.sh/@graphiql/toolkit@0.11.3?standalone&external=graphql",
                "@emotion/is-prop-valid": "data:text/javascript,"
            }
        }
        </script>
    {% endblock %}

    {% block head_stylesheets %}
        <link rel="stylesheet" href="https://esm.sh/graphiql@5/dist/style.css">
        <link rel="stylesheet" href="{{ asset('bundles/apiplatform/graphiql-style.css', assetPackage) }}">
    {% endblock %}

    {% block head_javascript %}
        {# json_encode(65) is for JSON_UNESCAPED_SLASHES|JSON_HEX_TAG to avoid JS XSS #}
        <script id="graphiql-data" type="application/json">{{ graphiql_data|json_encode(65)|raw }}</script>
    {% endblock %}
</head>

<body>
<div id="graphiql">Loading...</div>

{% block body_javascript %}
    <script type="module" src="{{ asset('bundles/apiplatform/init-graphiql.js', assetPackage) }}"></script>
{% endblock %}

</body>
</html>
