version: 2.1

commands:
  clear-test-app-cache:
    steps:
      - run:
          name: Clear test app cache
          command: tests/Fixtures/app/console cache:clear --ansi
  disable-php-memory-limit:
    steps:
      - run:
          name: Disable PHP memory limit
          command: echo 'memory_limit=-1' | sudo tee -a /usr/local/etc/php/php.ini
  disable-xdebug-php-extension:
    steps:
      - run:
          name: Disable xdebug PHP extension
          command: sudo rm /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
  install-mongodb-php-extension:
    steps:
      - run:
          name: Install mongodb PHP extension
          command: |
            sudo pecl install mongodb-1.5.5
            sudo docker-php-ext-enable mongodb
  install-symfony-flex:
    steps:
      - run:
          name: Install Symfony Flex
          command: |
            composer global require --prefer-dist --no-progress --no-suggest --ansi \
              symfony/flex
  restore-composer-cache:
    steps:
      - restore_cache:
          name: Restore Composer cache
          keys:
            - composer-cache-{{ .Revision }}
            - composer-cache-{{ .Branch }}
            - composer-cache
  restore-php-cs-fixer-cache:
    steps:
      - restore_cache:
          name: Restore PHP-CS-Fixer cache
          keys:
            - php-cs-fixer-cache-{{ .Revision }}
            - php-cs-fixer-cache-{{ .Branch }}
            - php-cs-fixer-cache
  restore-phpstan-cache:
    steps:
      - restore_cache:
          name: Restore PHPStan cache
          keys:
            - phpstan-cache-{{ .Revision }}
            - phpstan-cache-{{ .Branch }}
            - phpstan-cache
  save-composer-cache:
    steps:
      - save_cache:
          name: Save Composer cache
          paths:
            - ~/.composer/cache
          key: composer-cache-{{ .Branch }}-{{ .BuildNum }}
      - save_cache:
          name: Save Composer cache
          paths:
            - ~/.composer/cache
          key: composer-cache-{{ .Revision }}-{{ .BuildNum }}
  save-php-cs-fixer-cache:
    steps:
      - save_cache:
          name: Save PHP-CS-Fixer cache
          paths:
            - .php_cs.cache
          key: php-cs-fixer-cache-{{ .Branch }}-{{ .BuildNum }}
      - save_cache:
          name: Save PHP-CS-Fixer cache
          paths:
            - .php_cs.cache
          key: php-cs-fixer-cache-{{ .Revision }}-{{ .BuildNum }}
  save-phpstan-cache:
    steps:
      - save_cache:
          name: Save PHPStan cache
          paths:
            - /tmp/phpstan/cache
          key: phpstan-cache-{{ .Branch }}-{{ .BuildNum }}
      - save_cache:
          name: Save PHPStan cache
          paths:
            - /tmp/phpstan/cache
          key: phpstan-cache-{{ .Revision }}-{{ .BuildNum }}
  update-project-dependencies:
    steps:
      - run:
          name: Update project dependencies
          command: composer update --no-progress --no-suggest --ansi

executors:
  php:
    docker:
      - image: circleci/php:7.3-node
        environment:
          SYMFONY_REQUIRE: ^3.4 || ^4.0

jobs:
  php-cs-fixer:
    description: PHP-CS-Fixer
    executor: php
    environment:
      PHP_CS_FIXER_FUTURE_MODE: '1'
    working_directory: ~/api-platform/core
    steps:
      - checkout
      - disable-xdebug-php-extension
      - disable-php-memory-limit
      - restore-composer-cache
      - install-symfony-flex
      - run:
          name: Install PHP-CS-Fixer
          command: |
            composer global require --prefer-dist --no-progress --no-suggest --ansi \
              friendsofphp/php-cs-fixer:^2.14
      - save-composer-cache
      - restore-php-cs-fixer-cache
      - run:
          name: Run PHP-CS-Fixer
          command: |
            export PATH="$PATH:$HOME/.composer/vendor/bin"
            php-cs-fixer fix --dry-run --diff --ansi
      - save-php-cs-fixer-cache

  phpstan:
    description: PHPStan
    executor: php
    environment:
      APP_DEBUG: '1' # https://github.com/phpstan/phpstan-symfony/issues/37
    working_directory: ~/api-platform/core
    steps:
      - checkout
      - install-mongodb-php-extension
      - disable-xdebug-php-extension
      - disable-php-memory-limit
      - restore-composer-cache
      - install-symfony-flex
      - update-project-dependencies
      - save-composer-cache
      - clear-test-app-cache
      - restore-phpstan-cache
      - run:
          name: Run PHPStan
          command: vendor/bin/phpstan analyse --ansi
      - save-phpstan-cache

workflows:
  version: 2
  lint:
    jobs:
      - php-cs-fixer
      - phpstan
