<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.2/phpunit.xsd"
         bootstrap="../../vendor/autoload.php"
         colors="true"
         cacheDirectory="../../.phpunit.cache"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
>
    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="-1"/>
    </php>

    <testsuites>
        <testsuite name="API Platform Toon Test Suite">
            <directory>./Tests/</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>.</directory>
        </include>
        <exclude>
            <directory>./Tests</directory>
            <directory>./vendor</directory>
        </exclude>
    </source>
</phpunit>
