includes:
    - vendor/larastan/larastan/extension.neon

parameters:
	parallel:
		maximumNumberOfProcesses: 1
	level: 7
	treatPhpDocTypesAsCertain: false
	paths:
		- ApiResource
		- config
		- routes
		- Controller
		- Eloquent
		- Exception
		- Routing
		- State
		- Test
		- Tests
	ignoreErrors:
	  - '#Cannot call method expectsQuestion#'
	  - "#Call to function method_exists\\(\\) with Symfony\\\\Component\\\\Serializer\\\\Exception\\\\PartialDenormalizationException and 'getNotNormalizableV…' will always evaluate to true\\.#"
