<svg xmlns="http://www.w3.org/2000/svg" width="{{ width|default(256.25) }}" height="{{ width|default(419.38) }}" viewBox="0 0 256.25 419.38">
<title>API platform</title>
<g id="spider_descending" data-name="spider descending">
    <g id="_Groupe_" data-name="&lt;Groupe&gt;">
        <path id="_Tracé_" data-name="&lt;Tracé&gt;" d="M127.8,99l4.47-5.12L172,141.27l-22.69,38.48a3.83,3.83,0,0,1-5.73-.76l-.71-1.08a3.83,3.83,0,0,1,.71-5l19.72-31.05Z" style="fill:#1d1e1c"/>
    </g>
    <path d="M130.57,102.16s17.64-21,12.76-30.69-7-8.9-14.17-7.75-11.76,5.63-10.73,13.82A40.17,40.17,0,0,0,130.57,102.16Z" style="fill:#1d1e1c"/>
    <g id="_Groupe_2" data-name="&lt;Groupe&gt;">
        <path id="_Tracé_2" data-name="&lt;Tracé&gt;" d="M118.53,99l-4.47-5.12L74.29,141.27,97,177.74a3.83,3.83,0,0,0,5.73-.76l.71-1.08a3.83,3.83,0,0,0-.71-5L83,141.81Z" style="fill:#1d1e1c"/>
    </g>
    <path d="M115.76,102.16S98.11,81.12,103,71.47s7-8.9,14.17-7.75,11.76,5.63,10.73,13.82A40.17,40.17,0,0,1,115.76,102.16Z" style="fill:#1d1e1c"/>
    <g id="_Groupe_3" data-name="&lt;Groupe&gt;">
        <polygon id="_Tracé_3" data-name="&lt;Tracé&gt;" points="132.8 42.02 137.27 36.9 224.04 140.26 169.05 191.65 164.03 187.07 214.34 140.81 132.8 42.02" style="fill:#1d1e1c"/>
    </g>
    <path d="M136.17,45s17.15-26.3,10.29-36.59-9.15-9.15-17.15-6.86S116.73,9.55,119,18.7A45.93,45.93,0,0,0,136.17,45Z" style="fill:#1d1e1c"/>
    <g id="_Groupe_4" data-name="&lt;Groupe&gt;">
        <polygon id="_Tracé_4" data-name="&lt;Tracé&gt;" points="113.53 42.02 109.06 36.9 22.29 140.26 77.29 191.65 82.3 187.07 32 140.81 113.53 42.02" style="fill:#1d1e1c"/>
    </g>
    <path d="M110.16,45S93,18.7,99.87,8.41,109-.74,117,1.55s12.58,8,10.29,17.15A45.93,45.93,0,0,1,110.16,45Z" style="fill:#1d1e1c"/>
    <g id="_Groupe_5" data-name="&lt;Groupe&gt;">
        <polygon id="_Tracé_5" data-name="&lt;Tracé&gt;" points="40.66 321.08 23.67 248.1 54.99 248.66 56.76 256.09 32.55 255.59 47.91 318.67 40.66 321.08" style="fill:#1d1e1c"/>
        <path id="_Tracé_6" data-name="&lt;Tracé&gt;" d="M36.81,331s-6.21,11.73,5.36,16.56,17-5.51,17-5.51.89-4.49-4.79-14.32S47,315.83,43.82,315.3,36.81,331,36.81,331Z" style="fill:#1d1e1c"/>
    </g>
    <g id="_Groupe_6" data-name="&lt;Groupe&gt;">
        <polygon id="_Tracé_7" data-name="&lt;Tracé&gt;" points="21.27 383.93 0 246.05 57.07 220.54 56.34 228.13 8.55 250.44 28.9 384 21.27 383.93" style="fill:#1d1e1c"/>
        <path id="_Tracé_8" data-name="&lt;Tracé&gt;" d="M14.57,396.19s-9.28,13,3.75,20.59,21.17-3.84,21.17-3.84,1.78-5.21-3.43-17.83-6.91-15.4-10.63-16.54S14.57,396.19,14.57,396.19Z" style="fill:#1d1e1c"/>
    </g>
    <g id="_Groupe_7" data-name="&lt;Groupe&gt;">
        <polygon id="_Tracé_9" data-name="&lt;Tracé&gt;" points="215.59 320.08 232.58 247.1 201.26 247.66 199.49 255.09 223.7 254.59 208.34 317.67 215.59 320.08" style="fill:#1d1e1c"/>
        <path id="_Tracé_10" data-name="&lt;Tracé&gt;" d="M219.44,330s6.21,11.73-5.36,16.56-17-5.51-17-5.51-.89-4.49,4.79-14.32,7.4-11.93,10.59-12.46S219.44,330,219.44,330Z" style="fill:#1d1e1c"/>
    </g>
    <g id="_Groupe_8" data-name="&lt;Groupe&gt;">
        <polygon id="_Tracé_11" data-name="&lt;Tracé&gt;" points="234.98 382.93 256.25 245.05 199.18 219.54 199.91 227.13 247.71 249.44 227.36 383 234.98 382.93" style="fill:#1d1e1c"/>
        <path id="_Tracé_12" data-name="&lt;Tracé&gt;" d="M241.68,395.19s9.28,13-3.75,20.59-21.17-3.84-21.17-3.84-1.78-5.21,3.43-17.83,6.91-15.4,10.63-16.54S241.68,395.19,241.68,395.19Z" style="fill:#1d1e1c"/>
    </g>
    <g id="_Groupe_9" data-name="&lt;Groupe&gt;">
        <path id="_Tracé_13" data-name="&lt;Tracé&gt;" d="M207.23,219.63c0,41-35.77,62.69-79.9,62.69s-77.67-21.69-77.67-62.69,33.54-71.22,77.67-71.22S207.23,178.63,207.23,219.63Z" style="fill:#38a9b4"/>
        <path id="_Tracé_transparent_" data-name="&lt;Tracé transparent&gt;" d="M126.33,285.72C103,285.72,83,279.93,68.58,269c-15.46-11.73-23.63-28.79-23.63-49.34,0-38.35,28.14-74.62,81.38-74.62,53.92,0,83.62,36.82,83.62,74.62,0,20.47-8.58,37.54-24.8,49.38C170.37,279.79,149.49,285.72,126.33,285.72Zm0-133.91c-49.07,0-74,33.44-74,67.82,0,36.58,28.34,59.3,74,59.3,46.28,0,76.18-23.28,76.18-59.3C202.51,176.8,161.09,151.81,126.33,151.81Z" style="fill:#1d1e1c"/>
    </g>
    <g id="_Groupe_10" data-name="&lt;Groupe&gt;">
        <ellipse id="_Tracé_14" data-name="&lt;Tracé&gt;" cx="92.29" cy="165.77" rx="37.55" ry="36.82" style="fill:#fff"/>
        <path id="_Tracé_transparent_2" data-name="&lt;Tracé transparent&gt;" d="M91.29,205c-22,0-39.92-17.59-39.92-39.2s17.91-39.2,39.92-39.2,39.93,17.59,39.93,39.2S113.3,205,91.29,205Zm0-73.65c-19.39,0-35.17,15.45-35.17,34.45s15.78,34.45,35.17,34.45,35.17-15.45,35.17-34.45S110.68,131.33,91.29,131.33Z" style="fill:#1d1e1c"/>
    </g>
    <ellipse id="_Tracé_15" data-name="&lt;Tracé&gt;" cx="95.19" cy="167.95" rx="16.99" ry="16.3" style="fill:#1d1e1c"/>
    <circle id="_Tracé_16" data-name="&lt;Tracé&gt;" cx="92.02" cy="165.04" r="4.68" style="fill:#fff"/>
    <g id="_Groupe_11" data-name="&lt;Groupe&gt;">
        <ellipse id="_Tracé_17" data-name="&lt;Tracé&gt;" cx="166.29" cy="171.09" rx="45.51" ry="47.07" style="fill:#fff"/>
        <path id="_Tracé_transparent_3" data-name="&lt;Tracé transparent&gt;" d="M165.29,220.53c-26.41,0-47.89-22.18-47.89-49.44s21.48-49.44,47.89-49.44,47.89,22.18,47.89,49.44S191.7,220.53,165.29,220.53Zm0-94.13c-23.78,0-43.14,20-43.14,44.69s19.35,44.69,43.14,44.69,43.13-20,43.13-44.69S189.08,126.4,165.29,126.4Z" style="fill:#1d1e1c"/>
    </g>
    <circle id="_Tracé_18" data-name="&lt;Tracé&gt;" cx="169.13" cy="173.57" r="20.96" style="fill:#1d1e1c"/>
    <circle id="_Tracé_19" data-name="&lt;Tracé&gt;" cx="180.48" cy="170.39" r="5.78" style="fill:#fff"/>
</g>
</svg>
