<?xml version="1.0" ?>

<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="api_platform.object_mapper.metadata_factory" class="Symfony\Component\ObjectMapper\Metadata\ReflectionObjectMapperMetadataFactory">
        </service>

        <service id="api_platform.object_mapper" class="Symfony\Component\ObjectMapper\ObjectMapper">
            <argument type="service" id="api_platform.object_mapper.metadata_factory" />
            <argument type="service" id="property_accessor" on-invalid="null" />
            <argument type="tagged_locator" tag="object_mapper.transform_callable"/>
            <argument type="tagged_locator" tag="object_mapper.condition_callable"/>
        </service>

        <service id="api_platform.object_mapper.relation" class="ApiPlatform\State\ObjectMapper\ObjectMapper" decorates="api_platform.object_mapper" decoration-priority="-255">
            <argument type="service" id="api_platform.object_mapper.relation.inner" />
        </service>

        <service id="api_platform.state_provider.object_mapper" class="ApiPlatform\State\Provider\ObjectMapperProvider" decorates="api_platform.state_provider.locator">
            <argument type="service" id="api_platform.object_mapper" on-invalid="null" />
            <argument type="service" id="api_platform.state_provider.object_mapper.inner" />
        </service>

        <service id="api_platform.state_processor.object_mapper" class="ApiPlatform\State\Processor\ObjectMapperProcessor" decorates="api_platform.state_processor.locator">
            <argument type="service" id="api_platform.object_mapper" on-invalid="null" />
            <argument type="service" id="api_platform.state_processor.object_mapper.inner" />
        </service>
    </services>
</container>
