<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="PHPUnit">
    <option name="directories">
      <list>
        <option value="$PROJECT_DIR$/src/OpenApi/Tests" />
        <option value="$PROJECT_DIR$/src/JsonSchema/Tests" />
        <option value="$PROJECT_DIR$/src/Metadata/Tests" />
        <option value="$PROJECT_DIR$/src/State/Tests" />
        <option value="$PROJECT_DIR$/tests" />
      </list>
    </option>
  </component>
</project>