name: Release Pipeline

on:
  push:
    tags:
      - 'v*'
    branches:
      - main
      - '[0-9].*'
      - '[0-9][0-9].*'
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  split:
    name: Subtree Split
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Generate App Token
        id: generate_token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.API_PLATFORM_APP_ID }}
          private_key: ${{ secrets.API_PLATFORM_APP_PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          token: ${{ steps.generate_token.outputs.token }}
          fetch-depth: 0

      - name: Install splitsh
        run: |
          curl -L https://github.com/splitsh/lite/releases/download/v1.0.1/lite_linux_amd64.tar.gz > lite_linux_amd64.tar.gz
          tar -zxpf lite_linux_amd64.tar.gz
          chmod +x splitsh-lite
          echo "$(pwd)" >> $GITHUB_PATH

      - name: Split to manyrepo
        run: find src -maxdepth 3 -name composer.json -print0 | xargs -I '{}' -n 1 -0 bash subtree.sh {} ${{ github.ref }}

  dispatch-distribution-update:
    name: Dispatch Distribution Update
    runs-on: ubuntu-latest
    needs: split
    if: startsWith(github.ref, 'refs/tags/')
    steps:
      - name: Generate App Token
        id: generate_token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.API_PLATFORM_APP_ID }}
          private_key: ${{ secrets.API_PLATFORM_APP_PRIVATE_KEY }}

      - name: Update distribution
        env:
          GH_TOKEN: ${{ steps.generate_token.outputs.token }}
        run: gh workflow run -R api-platform/api-platform release.yml -f tag=${{ github.ref_name }}
